# Fetching Rows and Columns using iloc

## Fetching Column(s)
- We can either use double quotes or single quotes.
- For single column directly we can pass the quoted column name and for multiple columns we have to pass the list composing the quoted columns' name.
- Single column--> Series
- Multiple Columns--> Dataframe

In [1]:
import pandas as pd 
data=pd.read_csv('matches.csv')
print(data["winner"])
print()
print(type(data["winner"]))
print()
print(data["winner"].shape)

0              Sunrisers Hyderabad
1           Rising Pune Supergiant
2            Kolkata Knight Riders
3                  Kings XI Punjab
4      Royal Challengers Bangalore
                  ...
631    Royal Challengers Bangalore
632    Royal Challengers Bangalore
633            Sunrisers Hyderabad
634            Sunrisers Hyderabad
635            Sunrisers Hyderabad
Name: winner, Length: 636, dtype: object

<class 'pandas.core.series.Series'>

(636,)

In [3]:
print(data[["team1","team2","winner"]])
print()
print(type(data[["team1","team2","winner"]]))
print()
print(data[["team1","team2","winner"]].shape)

                           team1                        team2  \
0            Sunrisers Hyderabad  Royal Challengers Bangalore
1                 Mumbai Indians       Rising Pune Supergiant
2                  Gujarat Lions        Kolkata Knight Riders
3         Rising Pune Supergiant              Kings XI Punjab
4    Royal Challengers Bangalore             Delhi Daredevils
..                           ...                          ...
631             Delhi Daredevils  Royal Challengers Bangalore
632                Gujarat Lions  Royal Challengers Bangalore
633          Sunrisers Hyderabad        Kolkata Knight Riders
634                Gujarat Lions          Sunrisers Hyderabad
635          Sunrisers Hyderabad  Royal Challengers Bangalore

                          winner
0            Sunrisers Hyderabad
1         Rising Pune Supergiant
2          Kolkata Knight Riders
3                Kings XI Punjab
4    Royal Challengers Bangalore
..                           ...
631  Royal Challengers Bangalore
632  Royal Challengers Bangalore
633          Sunrisers Hyderabad
634          Sunrisers Hyderabad
635          Sunrisers Hyderabad

[636 rows x 3 columns]

<class 'pandas.core.frame.DataFrame'>

(636, 3)

In [4]:
type(data[["team1","team2","winner"]])

pandas.core.frame.DataFrame

## Fetching Row(s) using iloc() function
- For that iloc() function is used. *iloc* means index location.
- We can also access the multiple rows by inputing the index numbers separrated by comma.
- Because indexing start with the 0 so for 0 it returns the first row.
- For -1 it return the last row.
- We can also apply the slicing concept here.

In [5]:
data.iloc[0]

id                                                         1
season                                                  2017
city                                               Hyderabad
date                                              2017-04-05
team1                                    Sunrisers Hyderabad
team2                            Royal Challengers Bangalore
toss_winner                      Royal Challengers Bangalore
toss_decision                                          field
result                                                normal
dl_applied                                                 0
winner                                   Sunrisers Hyderabad
win_by_runs                                               35
win_by_wickets                                             0
player_of_match                                 Yuvraj Singh
venue              Rajiv Gandhi International Stadium, Uppal
umpire1                                          AY Dandekar
umpire2                                             NJ Llong
umpire3                                                  NaN
Name: 0, dtype: object

In [6]:
data.iloc[[2,3,5]]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
5,6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN

In [7]:
data.iloc[-1]

id                                         636
season                                    2016
city                                 Bangalore
date                                2016-05-29
team1                      Sunrisers Hyderabad
team2              Royal Challengers Bangalore
toss_winner                Sunrisers Hyderabad
toss_decision                              bat
result                                  normal
dl_applied                                   0
winner                     Sunrisers Hyderabad
win_by_runs                                  8
win_by_wickets                               0
player_of_match                    BCJ Cutting
venue                    M Chinnaswamy Stadium
umpire1                        HDPK Dharmasena
umpire2                           BNJ Oxenford
umpire3                                    NaN
Name: 635, dtype: object

In [8]:
data.iloc[::2]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN
8,9,2017,Pune,2017-04-11,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,627,2016,Kanpur,2016-05-19,Kolkata Knight Riders,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,6,DR Smith,Green Park,AK Chaudhary,CK Nandan,NaN
628,629,2016,Visakhapatnam,2016-05-21,Kings XI Punjab,Rising Pune Supergiants,Kings XI Punjab,bat,normal,0,Rising Pune Supergiants,0,4,MS Dhoni,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,HDPK Dharmasena,Nitin Menon,NaN
630,631,2016,Kolkata,2016-05-22,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Kolkata Knight Riders,22,0,YK Pathan,Eden Gardens,KN Ananthapadmanabhan,M Erasmus,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN

## NoteðŸ””
- We can use iloc function to access the columns too.
- Portion before comma, is used for the *rows* and portion after the comma is used for the *columns*.

In [10]:
data.iloc[:,[3,5,7]]

           date                        team2 toss_decision
0    2017-04-05  Royal Challengers Bangalore         field
1    2017-04-06       Rising Pune Supergiant         field
2    2017-04-07        Kolkata Knight Riders         field
3    2017-04-08              Kings XI Punjab         field
4    2017-04-08             Delhi Daredevils           bat
..          ...                          ...           ...
631  2016-05-22  Royal Challengers Bangalore         field
632  2016-05-24  Royal Challengers Bangalore         field
633  2016-05-25        Kolkata Knight Riders         field
634  2016-05-27          Sunrisers Hyderabad         field
635  2016-05-29  Royal Challengers Bangalore           bat

[636 rows x 3 columns]